.form input {
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 18px;
  display: inline-block;
  border: none;
  color: #000;
  background: #e8f0fe;
  width: 450px;
}

.form label {
  display: inline;
}

.form textarea {
  width: 450px;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
  height: 150px;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  color: #000;
  background: #e8f0fe;
}

/* {className="bg-green-500 px-4 py-2 rounded flex justify-center items-center"} */



@media (max-width: 680px) {

    .form{
        margin-top: 40px;
    }
  .form input {
    height: 30px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    display: inline-block;
    border: none;
    color: #000;
    background: #e8f0fe;
    width: 350px;
  }



  .form textarea {
    width: 350px;
    scroll-behavior: smooth;
    scrollbar-width: 3px;
    height: 150px;
    margin: 5px 0px;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px;
    color: #000;
    background: #e8f0fe;
  }

}
@media (max-width: 406px) {

    .form{
        margin-top: 30px;
    }
  .form input {
    height: 30px;
    border-radius: 6px;
    padding: 5px;
    margin: 5px 0px;
    font-size: 14px;
    display: inline-block;
    border: none;
    color: #000;
    background: #e8f0fe;
    width: 250px;
  }



  .form textarea {
    width: 250px;
    scroll-behavior: smooth;
    scrollbar-width: 3px;
    height: 150px;
    margin: 5px 0px;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px;
    color: #000;
    background: #e8f0fe;
  }


}
